DXP-DataPipeline/source/sandboxunited_pipeline_Redemtion_Click2Card_SF_To_SQL_v2/pipeline_Redemtion_Click2Card_SF_To_SQL_v2.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"SandboxUnited_Click2Card":{"type":"string"},"AzureBlobStorage_SandboxUnited":{"type":"string"},"Snowflake_SandboxUnitedBuyAgain":{"type":"string"},"SqlServer_SandboxUnited_Staging":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline_Redemtion_Click2Card_SF_To_SQL_v2')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Update table main SQL Click2Card","description":"","type":"Script","dependsOn":[{"activity":"Copy data SF_StagingClick2Card to SQL_StagingClick2Card","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('SandboxUnited_Click2Card')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"NonQuery","text":"Update m\nSet ActionType = s.ActionType,\n\tRedeemedDate = s.RedeemedDate\nfrom [Sandbox-UnitedRelationshop].[dbo].[SR_Click2Card] m \njoin [Sandbox-UnitedStaging].[dbo].[Staging_OfferRedemtions_Cliped] s on m.CouponLoadID = s.CouponLoadID\n"}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Execute Success","type":"ExecutePipeline","dependsOn":[{"activity":"Update table main SQL Click2Card","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sandboxunited_pipeline_Message_Notification_Success_V1","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"EmailTo":"dev_etl@stor.ai"}}},{"name":"Execute Failed","type":"ExecutePipeline","dependsOn":[{"activity":"Execute Success","dependencyConditions":["Skipped","Failed"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"sandboxunited_pipeline_Message_Notification_Failed_V1","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"Subject":"Import Staging","EmailTo":"tam.h@stor.ai"}}},{"name":"Copy data SF_StagingClick2Card to SQL_StagingClick2Card","type":"Copy","dependsOn":[{"activity":"Import CDC _Fact to SF Click2Card","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SnowflakeSource","query":"select COUPONLOADID,ACTIONTYPE,REDEEMEDDATE \nfrom SANDBOX_UNITED_DW_BUYAGAIN.PUBLIC.STAGING_CLICK2CARD;\n\n","exportSettings":{"type":"SnowflakeExportCopyCommand"}},"sink":{"type":"SqlServerSink","preCopyScript":"truncate table [dbo]. [Staging_OfferRedemtions_Cliped]","writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":true,"stagingSettings":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage_SandboxUnited')]","type":"LinkedServiceReference"},"path":"data-pipeline"},"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage_SandboxUnited')]","type":"LinkedServiceReference"},"path":"data-pipeline"}},"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"COUPONLOADID","type":"String"},"sink":{"name":"CouponLoadID","type":"Int32"}},{"source":{"name":"ACTIONTYPE","type":"String"},"sink":{"name":"ActionType","type":"Int32"}},{"source":{"name":"REDEEMEDDATE","type":"DateTime"},"sink":{"name":"RedeemedDate","type":"DateTime"}}]}},"inputs":[{"referenceName":"SnowflakeTable_SandboxUnitedBuyAgain_StagingClick2Card","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"SqlServerTable_SandboxUnited_Staging_Click2Card","type":"DatasetReference","parameters":{}}]},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"Execute Failed","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"message":"step failed","errorCode":"112"}},{"name":"Import CDC _Fact to SF Click2Card","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"linkedServiceName":{"referenceName":"[parameters('Snowflake_SandboxUnitedBuyAgain')]","type":"LinkedServiceReference"},"typeProperties":{"scripts":[{"type":"NonQuery","text":"MERGE INTO CLICK2CARD AS target\r\nUSING CURATED_OFFER_REDEMPTIONS_FACT_CHECK AS source\r\nON target.COUPONLOADID = source.COUPONLOADID \r\nWHEN MATCHED THEN\r\n  UPDATE SET\r\n    target.COUPONLOADID=source.COUPONLOADID,\r\n    target.ACTIONTYPE='2',\r\n    target.REDEEMEDDATE = source.REDEEM_DATE\r\n\r\nWHEN NOT MATCHED THEN\r\n  INSERT (COUPONLOADID, ACTIONTYPE, REDEEMEDDATE)\r\n  VALUES (source.COUPONLOADID, '2', source.REDEEM_DATE);\r\n\r\nTRUNCATE TABLE PUBLIC.STAGING_CLICK2CARD;\r\n\r\nMERGE INTO STAGING_CLICK2CARD  AS target\r\nUSING CLICK2CARD_CHECK AS source\r\nON target.COUPONLOADID = source.COUPONLOADID\r\nWHEN NOT MATCHED THEN\r\nINSERT (COUPONLOADID,CARDID,COUPONCODE,REFERENCEID,LOADEDDATE,EXTERNALID,PROVIDER,DEVICEID,TRACKINGCODE,DEVICENAME,ACTIONTYPE,PRESENTSTARTDATE,PRESENTENDDATE,\r\nEFFECTIVESTARTDATE,EFFECTIVEENDDATE,VISIBILITYSTARTDATE,VISIBILITYENDDATE,PROGRAMCODE,CLIPPEDDATE,REDEEMEDDATE,ALBERTSONSTRANSACTIONID,TRANSACTIONID,RETALIXTRANSACTIONID,TRANSACTIONSTATUS,AVAILABLEOFFERSCACHED,TENANT)\r\nVALUES (source.COUPONLOADID,source.CARDID,source.COUPONCODE,source.REFERENCEID,source.LOADEDDATE,source.EXTERNALID,source.PROVIDER,source.DEVICEID,source.TRACKINGCODE,source.DEVICENAME,\r\nsource.ACTIONTYPE,source.PRESENTSTARTDATE,source.PRESENTENDDATE,source.EFFECTIVESTARTDATE,source.EFFECTIVEENDDATE,source.VISIBILITYSTARTDATE,source.VISIBILITYENDDATE,\r\nsource.PROGRAMCODE,source.CLIPPEDDATE,source.REDEEMEDDATE,source.ALBERTSONSTRANSACTIONID,source.TRANSACTIONID,source.RETALIXTRANSACTIONID,source.TRANSACTIONSTATUS,source.AVAILABLEOFFERSCACHED,source.TENANT);\r\n"}],"scriptBlockExecutionTimeout":"02:00:00"}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"Sandbox United/Offer/Redemption_Offer"},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/pipelines/sandboxunited_pipeline_Message_Notification_Success_V1')]","[concat(variables('factoryId'), '/pipelines/sandboxunited_pipeline_Message_Notification_Failed_V1')]","[concat(variables('factoryId'), '/datasets/SnowflakeTable_SandboxUnitedBuyAgain_StagingClick2Card')]","[concat(variables('factoryId'), '/datasets/SqlServerTable_SandboxUnited_Staging_Click2Card')]"]},{"name":"[concat(parameters('factoryName'), '/sandboxunited_pipeline_Message_Notification_Success_V1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Success notitication V1","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://dev-etl-notification.azurewebsites.net:443/api/send-mail-v2/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dtvUizvpLpbvOZKtm5HTaEOw7gNX6iWsgPWLHMrdtZ4","method":"POST","headers":{},"body":{"value":"{\n   \"DataFactoryName\": '@{concat(' ',pipeline().DataFactory)}',\n   \"PipelineName\": '@{concat(' ',pipeline()?.TriggeredByPipelineName)}',\n   \"Subject\":  '@{concat('[SUCCESS]✅ ',pipeline().parameters.Enviroment,' ',pipeline().parameters.Subject)}',\n   \"ErrorMessage\": '@{concat(' ',pipeline().parameters.Message)}',\n   \"EmailTo\": '@{concat(' ',pipeline().parameters.EmailTo)}',\n   \"output\": '@{concat(' ',pipeline().parameters.Output)}',\n   \"data\": '@{concat(' ',pipeline().parameters.Data)}'\n}","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"Subject":{"type":"string"},"Message":{"type":"string","defaultValue":"Everything is okay"},"EmailTo":{"type":"string","defaultValue":"thuy.n@stor.ai,tam.h@stor.ai"},"Output":{"type":"string"},"Data":{"type":"string"},"Enviroment":{"type":"string","defaultValue":"SandboxUnited"}},"folder":{"name":"Notification Form/SandboxUnited_Notification"},"annotations":[],"lastPublishTime":"2023-04-12T09:45:51Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/sandboxunited_pipeline_Message_Notification_Failed_V1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Failed notitication V1","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://dev-etl-notification.azurewebsites.net:443/api/send-mail-v2/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dtvUizvpLpbvOZKtm5HTaEOw7gNX6iWsgPWLHMrdtZ4","method":"POST","headers":{},"body":{"value":"{\n   \"DataFactoryName\": '@{concat(' ',pipeline().DataFactory)}',\n   \"PipelineName\": '@{concat(' ',pipeline()?.TriggeredByPipelineName)}',\n   \"Subject\":  ' @{concat('[FAILED]❌ ',pipeline().parameters.Enviroment,' ',pipeline().parameters.Subject)}',\n   \"ErrorMessage\": '@{concat(' ',pipeline().parameters.Message)}',\n   \"EmailTo\": '@{concat(' ',pipeline().parameters.EmailTo)}',\n   \"output\": '@{concat(' ',pipeline().parameters.Output)}',\n   \"data\": '@{concat(' ',pipeline().parameters.Data)}'\n}","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"Subject":{"type":"string"},"Message":{"type":"string","defaultValue":"Something is wrong!"},"EmailTo":{"type":"string","defaultValue":"thuy.n@stor.ai,tam.h@stor.ai"},"Output":{"type":"string"},"Data":{"type":"string"},"Enviroment":{"type":"string","defaultValue":"SandboxUnited"}},"folder":{"name":"Notification Form/SandboxUnited_Notification"},"annotations":[],"lastPublishTime":"2023-04-12T09:45:52Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SnowflakeTable_SandboxUnitedBuyAgain_StagingClick2Card')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Snowflake_SandboxUnitedBuyAgain')]","type":"LinkedServiceReference"},"folder":{"name":"Sandbox United/SandboxUnited_BuyAgain"},"annotations":[],"type":"SnowflakeTable","schema":[{"name":"COUPONLOADID","type":"NUMBER","precision":38,"scale":0},{"name":"CARDID","type":"VARCHAR","precision":50,"scale":0},{"name":"COUPONCODE","type":"VARCHAR","precision":50,"scale":0},{"name":"REFERENCEID","type":"VARCHAR","precision":50,"scale":0},{"name":"LOADEDDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"EXTERNALID","type":"VARCHAR","precision":50,"scale":0},{"name":"PROVIDER","type":"VARCHAR","precision":225,"scale":0},{"name":"DEVICEID","type":"VARCHAR","precision":225,"scale":0},{"name":"TRACKINGCODE","type":"VARCHAR","precision":50,"scale":0},{"name":"DEVICENAME","type":"VARCHAR","precision":225,"scale":0},{"name":"ACTIONTYPE","type":"NUMBER","precision":38,"scale":0},{"name":"PRESENTSTARTDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"PRESENTENDDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"EFFECTIVESTARTDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"EFFECTIVEENDDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"VISIBILITYSTARTDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"VISIBILITYENDDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"PROGRAMCODE","type":"VARCHAR","precision":225,"scale":0},{"name":"CLIPPEDDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"REDEEMEDDATE","type":"TIMESTAMP_NTZ","precision":29,"scale":9},{"name":"ALBERTSONSTRANSACTIONID","type":"VARCHAR","precision":50,"scale":0},{"name":"TRANSACTIONID","type":"VARCHAR","precision":50,"scale":0},{"name":"RETALIXTRANSACTIONID","type":"VARCHAR","precision":50,"scale":0},{"name":"TRANSACTIONSTATUS","type":"VARCHAR","precision":50,"scale":0},{"name":"AVAILABLEOFFERSCACHED","type":"VARCHAR","precision":50,"scale":0},{"name":"TENANT","type":"VARCHAR","precision":50,"scale":0}],"typeProperties":{"schema":"PUBLIC","table":"STAGING_CLICK2CARD"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SqlServerTable_SandboxUnited_Staging_Click2Card')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SqlServer_SandboxUnited_Staging')]","type":"LinkedServiceReference"},"folder":{"name":"Sandbox United/SandboxUnited_Offer"},"annotations":[],"type":"SqlServerTable","schema":[{"name":"CouponLoadID","type":"int","precision":10},{"name":"ActionType","type":"int","precision":10},{"name":"RedeemedDate","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dbo","table":"Staging_OfferRedemtions_Cliped"}},"dependsOn":[]}]}